<div class="go-back-btn-container">
  <button type="button" class="go-back-btn" (click)="goBack()">Go Back</button>
</div>

@if (product(); as currentProduct) {
  <section class="product-details-container">
    <picture>
      <source [srcset]="currentProduct.image.tablet" media="(min-width: 768px)" />
      <source [srcset]="currentProduct.image.desktop" media="(min-width: 1440px)" />
      <img
        [src]="currentProduct.image.mobile"
        [alt]="'Image of ' + currentProduct.name"
        class="product-image"
      />
    </picture>

    <div class="product-details">
      @if (currentProduct.isNew) {
        <span class="new-product-badge">NEW PRODUCT</span>
      }

      <h1>{{ currentProduct.name }}</h1>

      <p class="description">
        {{ currentProduct.description }}
      </p>

      <div class="price-container">
        <p class="current-price" [class.discounted]="currentProduct.discount">
          {{ currentProduct.price | currency: 'USD' : 'symbol' : '1.0-0' }}
        </p>
        @if (currentProduct.discount) {
          <span class="new-price">{{
            currentProduct.price * (1 - currentProduct.discount / 100)
              | currency: 'USD' : 'symbol' : '1.0-0'
          }}</span>
        }
      </div>

      <div class="quantity-controls-and-add-cart">
        <div class="quantity-controls">
          <button
            type="button"
            class="decrement-btn quantity-btn"
            [disabled]="currentQuantity() === 1"
            (click)="decrementQuantity()"
          >
            -
          </button>
          <span class="quantity-display">{{ currentQuantity() }}</span>
          <button
            type="button"
            class="increment-btn quantity-btn"
            [disabled]="currentQuantity() >= currentProduct.quantity"
            (click)="incrementQuantity()"
          >
            +
          </button>
        </div>

        <button type="button" class="add-to-cart-btn">ADD TO CART</button>
      </div>
    </div>
  </section>

  <div class="features-and-in-box-container">
    <section class="features">
      <h2>FEATURES</h2>
      <p class="features-description">
        {{ currentProduct.features }}
      </p>
    </section>

    <section class="in-box">
      <h2>IN THE BOX</h2>
      <ul class="in-box-list">
        @for (inc of currentProduct.includes; track inc.item) {
          <li class="in-box-list-item">
            <p class="in-box-list-item-quantity">{{ inc.quantity }}x</p>
            <p class="in-box-list-item-name">{{ inc.item }}</p>
          </li>
        }
      </ul>
    </section>
  </div>

  <div class="product-image-gallery">
    <picture class="image-gallery-1">
      <source media="(min-width: 768px)" [srcset]="currentProduct.gallery.first.tablet" />
      <source media="(min-width: 1440px)" [srcset]="currentProduct.gallery.first.desktop" />
      <img
        [src]="currentProduct.gallery.first.mobile"
        [alt]="'Image 1 of ' + currentProduct.name"
        class="product-image-gallery-image"
      />
    </picture>

    <picture class="image-gallery-2">
      <source media="(min-width: 768px)" [srcset]="currentProduct.gallery.second.tablet" />
      <source media="(min-width: 1440px)" [srcset]="currentProduct.gallery.second.desktop" />
      <img
        [src]="currentProduct.gallery.second.mobile"
        [alt]="'Image 2 of ' + currentProduct.name"
        class="product-image-gallery-image"
      />
    </picture>

    <picture class="image-gallery-3">
      <source media="(min-width: 768px)" [srcset]="currentProduct.gallery.third.tablet" />
      <source media="(min-width: 1440px)" [srcset]="currentProduct.gallery.third.desktop" />
      <img
        [src]="currentProduct.gallery.third.mobile"
        [alt]="'Image 3 of ' + currentProduct.name"
        class="product-image-gallery-image"
      />
    </picture>
  </div>

  <app-suggested-products [currentProductSlug]="currentProduct.slug" />

  <app-categories />
} @else {
  <div class="loading-container">
    <p>Loading product details...</p>
  </div>
}
