// --- Color Palette ---

$color-orange: #d87d4a;
$color-orange-hover: #fbaf85;

$color-white: #fff;
$color-light-gray: #f1f1f1;
$color-lighter-gray: #fafafa;

$color-black: #000;
$color-light-black: #101010;

// --- Typography ---

$font-family: 'Manrope', sans-serif;
